body {
    font-family: sans-serif;
}

.player-controls {
    margin: 1.5em;
}

.control {
    padding: .5em;
    background: grey;
    border: dotted black;
    border-width: .3em;
    margin: 1em;
    display: inline;
}
